@keyframes desktop-icon-appear {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.desktop-icon-appear {
    animation: desktop-icon-appear 0.5s;
}

.transition05 {
    transition: all 0.5s;
}

/* Animation for opening the window */
@keyframes openWindow {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Animation for closing the window */
@keyframes closeWindow {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}

.window-container {
    animation: openWindow 0.2s forwards;
}

.window-container.closing {
    animation: closeWindow 0.2s forwards;
}

.desktop-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    grid-auto-flow: column;
    grid-template-rows: repeat(auto-fill, 100px);
    gap: 25px;
    align-content: start;
    justify-content: start;
    height: calc(100vh - 48px);
    padding: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 100px;
  }
  .exe-window-container {
    transition: opacity 0.2s ease-in-out;
  }

  .exe-window-container.closing {
    opacity: 0;
  }

  .window-drag-handle {
    cursor: move;
    user-select: none;
  }
